.nav{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0%;
  left: 0%;
  flex-wrap: wrap;
  height: 12rem;  
}

.nav_colorChange{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0%;
  left: 0%;
  flex-wrap: wrap;
  height: 12rem;
  background-color: black;
  z-index: 3;
  /* transition: 1s ease-in-out; */
}

.outer{
  /* position: absolute; */
  /* top: 0%; */
  /* left: 0%; */
  width: 90%;
  
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.outer .companylogo{
  max-width: 100%;
}

.outer .inner{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  width: 50%;
  /* flex-wrap: wrap; */
}

.outer .inner li{
  list-style: none;
}

/* .outer .inner li:nth-child(1) a{
  color: #5772FF;
} */

.outer .inner a.active{
  color: #5772FF;
}

.outer .inner li a{
  text-decoration: none;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #FFFFFF;
}

.outer .inner .phn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16.5rem;
  cursor: pointer;
}

.outer .inner .phn div:nth-child(2) a{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  color: #5772FF;
  text-decoration: none;
}

.outer .inner .phn div:nth-child(2):hover a{
  color: #F31237;
}

.outer .login a{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20.8rem;
  padding: 1.6rem;
  border: .2rem solid #FFFFFF;
  border-radius: 4.5rem;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  text-decoration: none;
  color: #FFFFFF;
}

.outer .login a:hover{
  background-color: #FFFFFF;
  color: black;
}

.outer .login a:hover .icon{
  fill : black;
}

.outer .login div:nth-child(2){
  color: #FFFFFF;
}